<% include ./partials/header.ejs %>

<% for (var journal of journals){ %>
    <div class="">
      <h2><%= journal.dateCreated %></h2>
      <p> <%= journal.completedTasks%></p>
      <p> <%= journal.goalTomorrow%></p>
      <p> Habit: <%= journal.habit%> </p>
      <p> Habit Streak:  <%= journal.habitStreak%> </p>
      <% if(journal.note && journal.note.length > 0) { %>   <!-- if user actually fill out note -->
        <p><%= journal.note.substring(0, 100)%>...</p>
      <% } %>

      <a href="/journals/<%= journal._id %>">Read More</a>
    </div>
<%}%>

<% include ./partials/footer.ejs %>
