<% include ./partials/header.ejs %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= journal.dateCreated.toDateString() %></div> <!-- Alt: momentJS -->
  <div class="ui top attached segment">
    <div class="item">
      <div class="description">
        <p> Completed: <%= journal.completedTasks%></p>
        <p> Event: <%= journal.event%></p>
        <p> Learn: <%= journal.learn%></p>
        <p> Emotion: <%= journal.emotion%></p>
        <p> Celebration: <%= journal.celebration%></p>
        <p> Tomorrow Goal: <%= journal.goalTomorrow%></p>
        <p> Habit: <%= journal.habit%></p>
        <p> Habit Streak: <%= journal.habitStreak%></p>
        <p> Note: <%= journal.note%></p>
      </div>  <!-- ./description -->

      <!-- "Edit" button to edit entry.This hooks up to Entry route -->
      <a class="ui brown basic button" href="/journals/<%= journal._id %>/edit">Edit</a>

      <!-- "Delete" button to delete entry. Must be inside form to hook up to Delete route/method -->
      <form id="delete-form" class="" action="/journals/<%= journal._id%>?_method=DELETE" method="POST">     <!-- send as post method to hide user's data and abide RESTful but actually when it reaches backend, it turns into DELETE method-->
        <button  class="ui red basic button">Delete</button>
      </form>

    </div>    <!-- ./item -->
  </div>
</div>  <!-- ./ui main -->




<% include ./partials/footer.ejs %>
