<% include ./partials/header.ejs %>
<% var counter = 0 %>
<link rel="stylesheet" type="text/css" href="/mentor.css">

<div class="ui text container">
    <h1>Mentors</h1>
    <div class="ui two column grid">
        <!-- Row Start -->
        <% for (var mentor of mentors){ %>
        <% counter += 1 %>
        <% if (counter % 2 != 0) {%>
            <div class="row">
        <% } %>
        <!-- <div class="row"> -->
            <!-- Card Start -->
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src=<%- mentor.cover_img%> >
                    </div>
                    <div class="content">
                        <a class="header"><%=mentor.name %></a>
                        <div class="meta">
                            <i class="briefcase icon"></i>
                            <span><%=mentor.company %></span>
                            <br>
                            <i class="pencil alternate icon"></i>
                            <span><%=mentor.skills %></span>

                        </div>
                        <h4 class="ui sub header">Projects</h4>
                        <div class="ui small feed">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <a>Personal Website</a>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <a><%=mentor.projects %></a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="description">
                                                        Kristy is an art director living in New York.
                                                    </div> -->
                        </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                            Add Friend
                        </div>
                    </div>
            </div>
        </div>
        <% if (counter % 2 == 0) {%>
          <% console.log(counter) %>
          </div>          <!-- Row End -->
        <% } %>
        <!-- Card Finish -->
        <% } %>




</div>
</div>




<% include ./partials/footer.ejs %>
