<% include ./partials/header.ejs %>
<% var counter = 0 %>
<!-- <link rel="stylesheet" type="text/css" href="/projects.css"> -->

<div class="ui text container">
    <h1>Projects</h1>
    <div class="ui three column grid">
        <!-- Row Start -->
        <% for (var project of projects){ %>
          <% counter += 1 %>
          <% if (counter % 2 != 0) {%>
              <div class="row">
          <% } %>
            <!-- Card Start -->
              <div class="column">
                  <div class="ui card">
                      <div class="image">
                          <img src=<%- project.cover_img%>>     <!-- CHANGE HERE -->
                      </div>
                      <div class="content">
                          <a class="header"><%= project.name%></a>
                          <div class="meta">
                              <i class="user icon"></i>
                              <span><%= project.author%></span>
                              <br>
                              <i class="code icon"></i>
                              <span><%= project.tools%></span>

                          </div>

                          <div class="description"><%= project.description%> </div>
                      </div>
                          <div class="ui bottom attached button">
                              <i class="add icon"></i>
                              Join Project
                          </div>
                      </div>
                  </div>
              <!-- Card Finish -->


              <% if (counter % 2 == 0) {%>
                <% console.log(counter) %>
                </div>          <!-- Row End -->
              <% } %>
                <% } %>
    </div>

</div>




<% include ./partials/footer.ejs %>
